<!DOCTYPE html>
<html ng-app = "swarm">

<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script src="js/d3.js" charset="utf-8"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/draw.js"></script>
  
</head>

<body ng-controller = "SwarmController as swarmCtrl">
<button type="button" class="btn" data-toggle="collapse" data-target="#controlPanel"><i class="glyphicon glyphicon-chevron-down"></i> <i class="glyphicon glyphicon-wrench"></i></button>
<div id="controlPanel" class="collapse in">
  <form name="panelForm" ng-controller="PanelController as panelCtrl" ng-submit="start()"  class="form-inline">
    <fieldset>
        <label for="arrity" class="control-label">Grid Arrity</label>
        <input type="number" name="gridArrity" class="form-control"  min="1" max="10" ng-model="arrity" ng-change="update()"/>

        <label for="gridScale" class="control-label">Grid Scale</label>
        <input name="gridScale" class="form-control" type="number" min="1" max="10" ng-model="gridScale" ng-change="update()"/>

        <label for="swarmSize" class="control-label">Swarm Size</label>
        <input name="swarmSize" class="form-control" type="number" min="1" max="500" ng-model="swarmSize" ng-change="update()"/>

        <label for="popSize" class="control-label">Population Size</label>
        <input name="popSize" class="form-control" type="number" min="1" max="500" step="1"  ng-model="popSize" ng-change="update()"/>

        <button type="submit" class="btn btn-primary">Start</button>
        <button type="button" class="btn">Pause</button>
        <button type="button" class="btn">Reset</button>
      </fieldset>
                  <h2>Inspector</h2>
  <div ng-repeat="item in inspectList">
    <p id="inspector" style="width:100%;" class="form-control input-xlarge" ng-model="item.id" >{{item.id}}</p>
  </form>
</div>

<!-- main display -->

			<hr>
			<svg>
			</svg>
			<!-- end of display -->
		</div> <!-- end span10 -->
	</div> <!-- end fluid row -->
</div> <!-- end container -->
</body>

</div>

</body>
</html>
