swarmer/.eunit
swarmer/deps
*.o
*.beam
*.plt
swarmer/erl_crash.dump
swarmer/ebin
swarmer.rebar
.rebar
*.aux
*.log
corpus/swarmer/erl_crash.dump
corpus/swarmer/ebin
corpus/swarmer.rebar
corpus/swarmer/.eunit
