zombie-swarm/swarmer/.eunit
zombie-swarm/swarmer/deps
*.o
*.beam
*.plt
zombie-swarm/swarmer/erl_crash.dump
zombie-swarm/swarmer/ebin
zombie-swarm/swarmer.rebar
.rebar
*.aux
*.log
zombie-swarm/corpus/swarmer/erl_crash.dump
zombie-swarm/corpus/swarmer/ebin
zombie-swarm/corpus/swarmer.rebar
zombie-swarm/corpus/swarmer/.eunit
